In [1]:
import pandas as pd

c:\users\melwin\.conda\envs\tutorialdatascience\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\melwin\.conda\envs\tutorialdatascience\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\users\melwin\.conda\envs\tutorialdatascience\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Pandas Interview Question

### Using Pandas to pd.read_excel() for multiple worksheets of the same workbook

In [ ]:
xls = pd.ExcelFile('path_to_file.xls')
df1 = pd.read_excel(xls, 'Sheet1')
df2 = pd.read_excel(xls, 'Sheet2')

https://stackoverflow.com/questions/26521266/using-pandas-to-pd-read-excel-for-multiple-worksheets-of-the-same-workbook

### FROM EMPLOYEE TABLE GET THE DEpartement wise where employee count is > 1

In [2]:
# creating the Data
data = [
[1,'ghk',3,'PTBP',23,'IME','bhmd'],
[2,'ghk',3,'PTBP',23,'IME','bhmd'],
[3,'ghk',3,'PTBP',23,'IME','bhmd'],
[4,'ghk',3,'PTBP',23,'IME-DATA','bhmd'],
[5,'ghk',3,'PTBP',24,'IME-DATA','bhmd'],
[6,'ghk',3,'PTBP',23,'IME','bhmd'],
[7,'ghk',3,'PTBP',23,'IME','bhmd'],
[8,'ghk',3,'PTBP',29,'IME-NA','bhmd'],
[9,'ghk',3,'PTBP',23,'IME','bhmd'],
[10,'ghk',3,'PTBP',23,'IME','bhmd']
]
df = pd.DataFrame(data, columns = ['EMP_ID','NAME','AGE','ADDRESS','SAL','DEPT','LOC'])
df.head()

   EMP_ID NAME  AGE ADDRESS  SAL      DEPT   LOC
0       1  ghk    3    PTBP   23       IME  bhmd
1       2  ghk    3    PTBP   23       IME  bhmd
2       3  ghk    3    PTBP   23       IME  bhmd
3       4  ghk    3    PTBP   23  IME-DATA  bhmd
4       5  ghk    3    PTBP   24  IME-DATA  bhmd

In [3]:
# get the Departement where no of employee is greater than 1
df[df.groupby('DEPT')['SAL'].transform(lambda x : x.count() > 1)].groupby('DEPT')['SAL'].count()

DEPT
IME         7
IME-DATA    2
Name: SAL, dtype: int64

In [4]:
# using Apply
df.groupby('DEPT')['SAL'].apply(lambda x : x.count() >  1)

DEPT
IME          True
IME-DATA     True
IME-NA      False
Name: SAL, dtype: bool

### Get the Second largest SAL data

In [6]:
df.sort_values(by = 'SAL',ascending=False)

   EMP_ID NAME  AGE ADDRESS  SAL      DEPT   LOC
7       8  ghk    3    PTBP   29    IME-NA  bhmd
4       5  ghk    3    PTBP   24  IME-DATA  bhmd
0       1  ghk    3    PTBP   23       IME  bhmd
1       2  ghk    3    PTBP   23       IME  bhmd
2       3  ghk    3    PTBP   23       IME  bhmd
3       4  ghk    3    PTBP   23  IME-DATA  bhmd
5       6  ghk    3    PTBP   23       IME  bhmd
6       7  ghk    3    PTBP   23       IME  bhmd
8       9  ghk    3    PTBP   23       IME  bhmd
9      10  ghk    3    PTBP   23       IME  bhmd

In [8]:
df[df['SAL'] != df['SAL'].max() ].sort_values(by = 'SAL',ascending=False).iloc[0]

EMP_ID            5
NAME            ghk
AGE               3
ADDRESS        PTBP
SAL              24
DEPT       IME-DATA
LOC            bhmd
Name: 4, dtype: object